<%- include('partials/header.ejs') %>

<form action="/" method="post"> 

    <div class="card">
        <div class="card-header">
          Create Task
        </div>
        <div class="card-body">
          <h5 class="card-title">Task</h5>
          <input type="text" name="title" id="title" placeholder="task">
          <h5 class="card-title">Description</h5>
          <input type="text" name="description" id="description" placeholder="description">
          <h5 class="card-title">Priority</h5>
          <select class="form-select" aria-label="Priority select">
            <option selected>Medium</option>
            <option value="1">Low</option>
            <option value="2">Medium</option>
            <option value="3">High</option>
          </select>
          <h5 class="card-title">Due date</h5>
          <input type="date" name="dateDue"> 
        <input type="submit" class="btn btn-primary" value="Create task">
        </div>
      </div>
    </form>

<%- include('partials/footer.ejs') %>