<%- include('partials/header.ejs') %>

<form action="<%= baseUrl %>" method="post"> 

    <div class="card">
        <div class="card-header">
          Create Task
        </div>
        <div class="card-body">
          <h5 class="card-title">Task</h5>
          <input type="text" required name="title" id="title" placeholder="Task name">
          <h5 class="card-title">Description</h5>
          <textarea class="form-control" name="description" id="description" rows="3" id="comment" placeholder="Description"></textarea>
          <h5 class="card-title">Priority</h5>
          <div class="radio">
            <label><input type="radio" name="priority" value="Low" checked> Low</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="priority" value="Medium"> Medium</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="priority" value="High"> High</label>
          </div>
          <h5 class="card-title">Category</h5>
          <div class="radio">
            <label><input type="radio" name="category" value="Home" checked> Personal</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="category" value="Social"> Social</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="category" value="Work"> Work</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="category" value="Education"> Education</label>
          </div>
          <div>
          <label for="dateDue">Due by</label>
          <input id="dateDue" class="form-control" name="dateDue" type="date" />
        </div>
  <form action="<%=baseUrl%>/new?_method=create" method="create" >
    <input type="submit" class="btn btn-primary" value="Add task">
  </form>
        </div>
      </div>
    </form>

<%- include('partials/footer.ejs') %>
