* {
  font-family: 'Roboto', sans-serif;
}

a:link {
    text-decoration: none;
  }
  .collapsed > .when-open,
  .not-collapsed > .when-closed {
    display: none;
  }

.card {

    border-color: #12343b;
  }

#add-task {
  margin-top: 2em;
  width: 10em;
  margin: 2em auto;
  background-color: #ffaaab;
  border-color:  #ffaaab;
  transition: 600ms;
}
#add-task:hover {
transition: 600ms;
color: BLACK;
background-color: #ff5e6c;
border-color:  #ff5e6c;
}

#change-list {
  margin-top: 2em;
}

#register-page,
#login-page {
  margin-top: 5em;
}
#edit-symbol {
  margin-left: 0.3em;
  margin-bottom: 0.2em;
}
#edit-symbol:hover {
  fill: #198752;
  transition: 300ms;
  transform: scaleX(1.2) scaleY(1.2)
}
.update-task-h1 {
  text-align: center;
}
.update-task-card{
  margin-bottom: 2em;
}
.confirm-change-btns {
  justify-content: center;
  margin: 0 auto;
}


/* Display Lists */
.list-group {
    max-width: 500px;
    margin: 4rem auto;
  }
  
  .form-check-input:checked + .form-checked-content {
    opacity: .5;
  }
  
  .form-check-input-placeholder {
    border-style: dashed;
  }
  [contenteditable]:focus {
    outline: 0;
  }
  
  .list-group-checkable .list-group-item {
    cursor: pointer;
  }
  .list-group-item-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
  .list-group-item-check:hover + .list-group-item {
    background-color: var(--bs-light);
  }
  .list-group-item-check:checked + .list-group-item {
    color: #fff;
    background-color: var(--bs-blue);
  }
  .list-group-item-check[disabled] + .list-group-item,
  .list-group-item-check:disabled + .list-group-item {
    pointer-events: none;
    filter: none;
    opacity: .5;
  }
  
  .list-group-radio .list-group-item {
    cursor: pointer;
    border-radius: .5rem;
  }
  .list-group-radio .form-check-input {
    z-index: 2;
    margin-top: -.5em;
  }
  .list-group-radio .list-group-item:hover,
  .list-group-radio .list-group-item:focus {
    background-color: var(--bs-light);
  }
  
  .list-group-radio .form-check-input:checked + .list-group-item {
    background-color: var(--bs-body);
    border-color: var(--bs-blue);
    box-shadow: 0 0 0 2px var(--bs-blue);
  }
  .list-group-radio .form-check-input[disabled] + .list-group-item,
  .list-group-radio .form-check-input:disabled + .list-group-item {
    pointer-events: none;
    filter: none;
    opacity: .5;
  }
  .formWithButtons {
    display: inline;
  }
/* ----------------- */


/* flash messages */
.flash-messages p {
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  width: 20em;
  border-radius: 8px;
  opacity: 0.6;
}

.flash-messages .success {
  background: #198752;
  color: white;
  text-shadow: 1px 1px #CFE6DB;
  box-shadow: 0.2px 0.2px #CFE6DB;
}
.flash-messages .info {
  background:#FAC10A ;
  color:  white;
  text-shadow: 1px 1px #997402;
  box-shadow: 0.2px 0.2px #997402;

}
.flash-messages .error {
  background: #DC3545;
  color: white;
  text-shadow: 1px 1px #DC4150;
  box-shadow: 0.2px 0.2px #DC4150;
}
/* ------------------ */

