* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #eefcff;
}

a:link {
  text-decoration: none;
}

#change-list input[type=submit],
#change-list a {
  transition: 300ms;
  background-color: #eefcff;
  border-color: #135ea0;
  color: black;
}

#change-list input[type=submit]:hover,
#change-list a:hover {
  transition: 300ms;
  background-color: #b1d4df;
  border-color: #135ea0;
  color: black;
}

#add-task {
  transition: 300ms;
  background-color: #135ea0;
  border-color: #b1d4df;
  color: white;
  max-width: 20em;
  margin: auto;
  margin-top: 1em;
} 

#add-task:hover {
  transition: 300ms;
  background-color: #b1d4df;
  border-color: #b1d4df;
  color: white;
  max-width: 20em;
  margin: auto;
  margin-top: 1em;
} 

.no-items-category{
  display: flex;
  justify-content: center;
}

.collapsed > .when-open,
.not-collapsed > .when-closed {
  display: none;
}

.complete-tasks a,
.complete-tasks button,
.complete-tasks input[type=submit] { 
  transition: 300ms;
  background-color: #aedfb4;
  border-color: #aedfb4;
  color: black;
}
.complete-tasks a:hover,
.complete-tasks button:hover,
.complete-tasks input[type=submit]:hover {
  background-color: #90ee90;
  border-color: #90ee90;
  color: black;
  transition: 300ms;
}

.todo-tasks a,
.todo-tasks button,
.todo-tasks input[type=submit] {
  background-color: #135ea0;
  border-color: #b1d4df;
  color: white;
  transition: 300ms;
}

.todo-tasks a:hover,
.todo-tasks button:hover,
.todo-tasks input[type=submit]:hover {
  background-color: #b1d4df;
  border-color: #b1d4df;
  color: white;
  transition: 300ms;
}

#change-list {
  margin-top: 2em;
  background-color: #135ea0;
  border-color: #b1d4df;
  color: white;
}
.description-header {
  background-color: #135ea0;
  border-color: #b1d4df;
  color: white;
}
#register-page,
#login-page {
  margin-top: 5em;
}
#edit-symbol {
  margin-left: 0.3em;
  margin-bottom: 0.2em;
}
#edit-symbol:hover {
  fill: #198752;
  transition: 300ms;
  transform: scaleX(1.2) scaleY(1.2)
}
.update-task-h1 {
  text-align: center;
}
.update-task-card{
  margin-bottom: 2em;
}
.confirm-change-btns {
  justify-content: center;
  margin: 0 auto;
}

nav li:hover {
  transition: 100ms;
  background-color: #e3f2fd;
}
/* Display Lists */
.list-group {
    max-width: 500px;
    margin: 4rem auto;
  }
  
.form-check-input:checked + .form-checked-content {
  opacity: .5;
}
  
.form-check-input-placeholder {
  border-style: dashed;
}

[contenteditable]:focus {
  outline: 0;
}
  
.list-group-checkable .list-group-item {
  cursor: pointer;
}

.list-group-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.list-group-item-check:hover + .list-group-item {
  background-color: var(--bs-light);
}

.list-group-item-check:checked + .list-group-item {
  color: #fff;
  background-color: var(--bs-blue);
}

.list-group-item-check[disabled] + .list-group-item,
.list-group-item-check:disabled + .list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}
  
.list-group-radio .list-group-item {
  cursor: pointer;
  border-radius: .5rem;
}

.list-group-radio .form-check-input {
  z-index: 2;
  margin-top: -.5em;
}

.list-group-radio .list-group-item:hover,
.list-group-radio .list-group-item:focus {
  background-color: var(--bs-light);
}
  
.list-group-radio .form-check-input:checked + .list-group-item {
  background-color: var(--bs-body);
  border-color: var(--bs-blue);
  box-shadow: 0 0 0 2px var(--bs-blue);
}

.list-group-radio .form-check-input[disabled] + .list-group-item,
.list-group-radio .form-check-input:disabled + .list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}

.formWithButtons {
  display: inline;
}
/* ----------------- */

/* flash messages */
.flash-messages p {
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  /* width: 50%; */
  max-width: 300px;
  border-radius: 8px;
  opacity: 0.3;
}

.flash-messages .success {
  background: #198752;
  color: white;
  text-shadow: 1px 1px #CFE6DB;
  box-shadow: 0.2px 0.2px #CFE6DB;
}
.flash-messages .info {
  background:#FAC10A ;
  color:  white;
  text-shadow: 1px 1px #997402;
  box-shadow: 0.2px 0.2px #997402;

}
.flash-messages .error {
  background: #DC3545;
  color: white;
  text-shadow: 1px 1px #DC4150;
  box-shadow: 0.2px 0.2px #DC4150;
}
/* ------------------ */

