<%- include('../partials/header.ejs') %>

<% if (messages.error) { %> 
    <% for (let msg of messages.error) { %>
    <p class="error"><%= msg %> </p> 
    <% } %>
<% } %> 

<%- include('../partials/footer.ejs') %>

